html,
body {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Times New Roman", serif;
    background-color: #000000;
    background-image: url("../img/background.jpg");
    background-size: 100% 120%;
    background-position: 0 0;
    background-repeat: no-repeat;
    color: #ffffff;
}

.site-wrapper {
    width: 1200px;
    margin: 0 auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

h1,
p {
    margin-left: 20px;
}

h1 {
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    line-height: 45px;
    text-shadow: 0 2px 5px rgba(0,0,0,0.76);
}

p {
    text-align: left;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
}

main {
    border-bottom: 2px solid lightblue;
}

.projects,
.demands {
    margin-bottom: 40px;
}

.title-list,
.demands-title {
    margin-left: 50px;
    text-transform: uppercase;
}

.project-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0 0px;
}

.project-element {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: justify;
    width: 300px;
    margin: 0 40px;
}

.project-element-title {
    text-align: center;
    text-shadow: 0 2px 5px rgba(0,0,0,0.76);
    margin-bottom: 0;
}

.project-element-title a {
    text-decoration: none;
    color: orange;
}

.project-element-title a:hover,
.project-element-title a:active {
    color: orangered;
}

.project-element p {
    text-align: center;
    margin: 15px;
}

.project-element img {
    margin: 0 8px;
}

.project-element-wrapper {
    text-align: center;
}

.project-element-wrapper button,
.demands-element-wrapper button {
    display: inline-block;
    vertical-align: middle;
    min-width: 280px;
    text-align: center;
    font-size: 17px;
    line-height: 20px;
    font-weight: 500;
    margin: 0;
    padding: 7px 5px;
    background-color: lightgrey;
    color: #000000;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    box-shadow: 0px 2px 2px 0px #000000;
    text-shadow: 0px 4px 6px rgba(0,0,0,0.5);
    
    outline: none;
}

.project-element-wrapper button:hover,
.demands-element-wrapper button:hover {
    background-color: gold;
    color: white;
}

.project-picture {
    display: none;
    padding: 10px;
    margin-top: 20px;
    background-color: lightgrey;
    border: 2px solid black;
    border-radius: 5px;
    box-shadow: 0px 4px 4px 0px #000000;
/*
    animation-name: bounce-one-close;
    animation-duration: 0.5s;
*/
}

.project-picture-show {
    display: block;
    animation-name: bounce-open;
    animation-duration: 0.5s;
}

/*
.project-picture-close {
    display: none;
    animation-name: bounce-one-close;
    animation-duration: 0.5s;
}
*/

/*
@keyframes bounce-one-close {
    0%   {transform: translateY(-2px); opacity: 0.9; }
    10%  {transform: translateY(-4px); opacity: 0.8; }
    30%  {transform: translateY(-6px); opacity: 0.7; }
    40%  {transform: translateY(-8px); opacity: 0.6; }
    50%  {transform: translateY(-10px); opacity: 0.5; }
    60%  {transform: translateY(-12px); opacity: 0.4; }
    70%  {transform: translateY(-14px); opacity: 0.3;  }
    80%  {transform: translateY(-16px); opacity: 0.2;  }
    90%  {transform: translateY(-18px); opacity: 0.1;  }
    100% {transform: translateY(-20px); opacity: 0;  }
}
*/

.demands-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0 0px;
}

.demands-element-title,
.demands-title {
    text-shadow: 0px 4px 6px rgba(0,0,0,0.5);
}

.demands-element {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-width: 500px;
    margin: 0 auto;
}

.demands-element-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.demands-discription {
    display: none;
    background-color: #394aca;
    background-image: linear-gradient(to bottom, #394aca 0%, #b75dd9 100%);
    border-radius: 25px;
    min-width: 800px;
    margin-top: 30px;
    box-shadow: 0px 4px 4px 0px #000000;
}

.demands-discription-show {
    display: block;
    animation-name: bounce-open;
    animation-duration: 0.5s;
}

@keyframes bounce-open {
    0%   {transform: translateY(-20px); opacity: 0; }
    10%  {transform: translateY(-18px); opacity: 0.1; }
    30%  {transform: translateY(-16px); opacity: 0.2; }
    40%  {transform: translateY(-14px); opacity: 0.3; }
    50%  {transform: translateY(-12px); opacity: 0.4; }
    60%  {transform: translateY(-10px); opacity: 0.5; }
    70%  {transform: translateY(-8px); opacity: 0.6;  }
    80%  {transform: translateY(-6px); opacity: 0.7;  }
    90%  {transform: translateY(-4px); opacity: 0.8;  }
    100% {transform: translateY(-2px); opacity: 0.9;  }
}

.demands-discription-list {
    list-style: none;
    font-size: 22px;
    line-height: 24px;
    margin: 0;
    padding: 5px 30px;
}

.demands-discription-element {
    margin: 10px 0;
    padding: 0;
}

.norms-list {
    margin: 15px 0;
}

.norms-list li {
    margin: 10px 0;
}

.norms-list span {
    color: orange;
}

.footer-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.footer-contacts-list {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    list-style: none;
    padding-bottom: 0;
    margin: 0;
    margin-top: 3px;
}

.footer-contacts-element {
    display: inline-block;
    margin: 0 5px;
}

.footer-contacts-element a {
    width: 32px;
    height: 32px;
    background-position: 0 0;
    border: 2px solid lightgrey;
    border-radius: 50%;
    display: inline-block;
}

.footer-contacts-element a:hover,
.footer-contacts-element a:active {
    border: 2px solid lightblue;
}

.vk-element svg,
.facebook-element svg,
.git-element svg,
.skype-element svg,
.mail-element svg {
    border-radius: 50%;
    background-color: transparent;
}

.vk-element svg:hover {
    background-color: white;
}

.vk-element svg:hover path {
    fill: #2770bb;
}

.vk-element svg g:hover {
    fill: #2770bb;
}

.facebook-element svg:hover {
    background-color: white;
}

.facebook-element svg:hover path {
    fill: #0e13d9;
}

.facebook-element svg path:hover {
    fill: #0e13d9;
}

.git-element svg:hover {
    background-color: white;
}

.git-element svg:hover path {
    fill: #a230b3;
}

.skype-element svg:hover {
    background-color: white;
}

.skype-element svg:hover path {
    fill: #1bc84c;
}

.mail-element svg:hover path {
    fill: #c55233;
    stroke: #ffffff;
}

.vk-element svg:active,
.facebook-element svg:active,
.git-element svg:active,
.skype-element svg:active,
.mail-element svg:active {
    border-radius: 50%;
    box-shadow: 0px -1px 1px 0px rgba(0, 0, 0, 0.9);
}

.mail-element {

}

.skype-element svg g path:hover {
    fill: #1bc84c;
}

.git-element svg g path:hover {
    fill: #a230b3;
}

.footer-contacts h2,
.footer-copyright p {
    text-transform: uppercase;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
}

.footer-contacts h2 {
    text-align: left;
    margin: 10px 0 30px 50px;
    margin-left: 50px;
    margin-bottom: 30px;
}

.footer-copyright p {
    text-align: left;
    margin: 15px 50px 15px 3px;
    margin-right: 50px;
}

.footer-copyright-logo {
    text-align: left;
    min-width: 250px;
}

.footer-copyright-logo img {
    margin-left: 8px
}

.footer-copyright-logo p {
    text-align: right;
    font-size: 14px;
    line-height: 16px;
    text-transform: none;
    margin: 0;
}

.footer-copyright-link {
    color: orange;
}

.footer-copyright-link:hover,
.footer-copyright-link:active {
    color: orangered;
}